{% extends "base.html" %}


{% load static %}

{% block accountcontent %}

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>

                        </ul>

                        <div class="tab-content" id="myTabContent">
                             <!-- user_form errors -->
        {% if user_form.errors %}
        {% for field in user_form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in user_form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

<!-- profile form errors -->
    {% if profile_form.errors %}
    {% for field in profile_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in profile_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a Employee</h3>
                                <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ user_form.first_name }}
                                        </div>
                                        <div class="form-group">
                                              {{ user_form.last_name }}
                                        </div>

                                         <div class="form-group">
                                            {{ user_form.email }}
                                        </div>
                                        <div class="form-group">
                                           {{ user_form.username }}
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                               {{ user_form.password1 }}

                                        </div>
                                        <div class="form-group">
                                           {{ user_form.password2 }}
                                        </div>
                                        <div class="form-group">
                                           {{ profile_form.dob }}

                                        </div>
                                          <div class="form-group">
                                         {{ profile_form.profile_pic }}


                                        </div>
                                         <div class="form-group">

                                              {{ profile_form.gender }}

                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                                   </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
{% endblock %}