<!DOCTYPE html>
<html>
{% load static %}

<head>
  <title>FaceClone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/postlist.css' %}">

</head>

<body>

  <!-- <header> -->
  {% include 'base1.html' %}
  <!-- </header> -->
  <br>


  
  <!-- ./feed -->
  {% include 'postapp/postlist.html' %}
  <!-- ./feed -->


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).on('click', '#submit-post-btn',function(e){
           var formData = new FormData();
          formData.append('file', $('#image_file')[0].files[0]);
          formData.append('post_contain', $('#post_contain').val());
          formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); 
                  
          $.ajax({
          type:'POST',
          url:'{% url "createpost" %}',
          data:formData,
          cache : false,
          processData: false,
          contentType:false,
        success:function(data){
          $('#user-posts').prepend(data);
          $('#exampleModal').modal('hide');     
          },
      });
}); 
</script>
<script>
  $(document).on('click', '#del-btn',function(e){
    var del_id = $('#del-id').val();   
    var my_data = {
      "del_id" : del_id,
      'csrfmiddlewaretoken': "{{ csrf_token }}",
    }
    $.ajax({
    type:'POST',
    url: '{% url "delete" %}',
    data:my_data,
  success:function(json){
    $("#user-posts").remove()
    },
});
});
</script>


</html>