<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Document</title>

    <style>
        .box {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.8;
            /* for demo purpose  */
        }

        .stack-top {
            z-index: 9;
            margin-left: 470px;
            margin-top: 20px;
            /* for demo purpose  */
        }
    </style>
</head>

<body>

    {% block header %}
    <header>
        <div class="tb">
            <div class="td" id="logo">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="td" id="search-form">
                <form>
                    <!-- {% csrf_token %} -->
                    <input type="text" placeholder="Search Facebook" name="search_name" id="search-box" required >
                    
                </form>
            </div>

            <div id="suggesstion-box">

            </div>

          

            <div class="td" id="f-name-l"><span>{{profile.user.username}}</span>
                <button class="btn btn-outline-danger me-2" type="button"><a
                        href="{% url 'logout' %}">logout</a></button>
            </div>
            <div class="td" id="i-links">
                <div class="tb">
                    <div class="td" id="m-td">
                        <div class="tb">
                            <span class="td"><i class="material-icons">person_add</i></span>
                            <span class="td"><i class="material-icons">chat_bubble</i></span>
                            <span class="td m-active"><i class="material-icons">notifications</i></span>
                        </div>
                    </div>
                    <div class="td">
                        <a href="#" id="p-link">
                            {% if profile %}
                            <img src="{{ profile.profile_pic.url }}">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock%}
</body>
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
 integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
 integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
 crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search-box").keyup(function () {

            var mydata={
                'search':$(this).val()
            };
                $.ajax({
                    type: "GET",
                    url: "{% url 'search' %}",
                    data:  mydata,
                    beforeSend: function () {

                    $("#search-box").css(" url(https://phppot.com/demo/jquery-ajax-autocomplete-country-example/loaderIcon.gif) no-repeat 165px");
                    },
                    
                    success: function (response) {

                        if (response.searchname !=""){
                            // $("#suggesstion-box").show();
                        $("#suggesstion-box").html(response);

                        }
                        else{
                        // $(".box stack-top").hide();

                        }
                        
                    }
                
                });


            
        
               
   
    
        });
    });
</script>


</html>