<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Profile Page</title>
</head>

<body>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->




    <main>

        <header>
            <div class="tb">
                <div class="td" id="logo">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
                <div class="td" id="search-form">
                    <form method="GET" action="{% url 'search' %}">
                        <!-- {% csrf_token %} -->
                        <input type="text" placeholder="Search Facebook" name="search_name">
                        <button type="submit"><i class="material-icons">search</i></button>
                    </form>
                </div>

                {% if user_list %}
                {% for user in user_list %}

                <div class="card" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ user.first_name }}</h5>
                        <a href="#" class="btn btn-primary">Add Friend</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}





                <div class="td" id="f-name-l"><span>{{profile.user.username}}</span>
                    <button class="btn btn-outline-danger me-2" type="button"><a
                            href="{% url 'logout' %}">logout</a></button>
                </div>
                <div class="td" id="i-links">
                    <div class="tb">
                        <div class="td" id="m-td">
                            <div class="tb">
                                <span class="td"><i class="material-icons">person_add</i></span>
                                <span class="td"><i class="material-icons">chat_bubble</i></span>
                                <span class="td m-active"><i class="material-icons">notifications</i></span>
                            </div>
                        </div>
                        <div class="td">
                            <a href="#" id="p-link">
                                {% if profile %}
                                <img src="{{ profile.profile_pic.url }}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="profile-upper">
            <div id="profile-banner-image">
                <img src="{{ profile.profile_cover.url }}" alt="Banner image">
            </div>
            <div id="profile-d">
                <div id="profile-pic">
                    {% if profile %}

                    <img src=" {{ profile.profile_pic.url }}">


                    {% else %}
                    <img src="../../media/images/download.jpeg">

                    {% endif %}
                </div>

                <div id="u-name">{{profile.user.first_name}} {{profile.user.last_name}}</div>
                <!-- for cover upadte and retirive -->


                <div class="tb" id="m-btns">
                    <div id="i-box">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'updatecover' %}">

                            {% csrf_token %}
                            <div class="cover-upload">
                                <label for="fileinput">
                                    <div
                                        style="width: 150px; height: 20px; background-color: aqua; border-radius: 5px;">
                                        select cover image </div>
                                </label>
                                <input id="fileinput" type="file" class="" name="coverimage" required>

                                <!-- <button  type="submit">upload</button> -->


                                <button type="submit"  class="btn btn-outline-primary" id="inputsubmit" >updatecover</button>

                            </div>
                            <br><br>


                        </form>


                    </div>
                    <div class="td">

                        <div class="m-btn"><i class="material-icons">lock</i><span>Privacy</span></div>
                    </div>
                </div>
                <div id="edit-profile"><i class="material-icons">camera_alt</i></div>
            </div>
            <div id="black-grd"></div>
        </div>
        <div id="main-content">
            <div class="tb">
                <div class="td" id="l-col">
                    <div class="l-cnt">
                        <div class="cnt-label">
                            <i class="l-i" id="l-i-i"></i>
                            <span>Intro</span>
                            <div class="lb-action"><i class="material-icons">edit</i></div>
                        </div>
                        <div id="i-box">
                            <!-- <div id="intro-line">Web developer - UI</div>
                            <div id="u-occ">Developing awesome UIs at <a href="#">Google LLC</a> Bengaluru and inspiring other companies to do so :)</div>
                            <div id="u-loc"><i class="material-icons">location_on</i><a href="#">Bengaluru</a>, <a href="#">India</a></div> -->

                            <h1>upload</h1>
                            <form method="POST" enctype="multipart/form-data" action="{% url 'update' %}">

                                {% csrf_token %}
                                <input id="id_image" type="file" class="" name="image" required>
                                <br><br><br><br>
                                <button type="submit" class="btn btn-outline-primary">Upload Pic</button>

                            </form>


                        </div>
                    </div>
                    <div class="l-cnt l-mrg">
                        <div class="cnt-label">
                            <i class="l-i" id="l-i-p"></i>
                            <span>Photos</span>

                        </div>
                        <div id="photos">
                            <div class="tb">
                                <div class="tr">
                                    <div class="td"></div>
                                    <div class="td"></div>
                                    <div class="td"></div>
                                </div>
                                <div class="tr">
                                    <div class="td"></div>
                                    <div class="td"></div>
                                    <div class="td"></div>
                                </div>
                                <div class="tr">
                                    <div class="td"></div>
                                    <div class="td"></div>
                                    <div class="td"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-cnt l-mrg">
                        <div class="cnt-label">
                            <i class="l-i" id="l-i-k"></i>
                            <span>Did You Know<i id="k-nm">1</i></span>
                        </div>
                        <div>
                            <div class="q-ad-c">
                                <a href="#" class="q-ad">
                                    <img src="https://imagizer.imageshack.com/img923/1849/4TnLy1.png">
                                    <span>My favorite superhero is...</span>
                                </a>
                            </div>
                            <div class="q-ad-c">
                                <a href="#" class="q-ad" id="add_q">
                                    <i class="material-icons">add</i>
                                    <span>Add Answer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="t-box">
                        <a href="#">Privacy</a> <a href="#">Terms</a> <a href="#">Advertising</a> <a href="#">Ad
                            Choices</a> <a href="#">Cookies</a> <span id="t-more">More<i
                                class="material-icons">arrow_drop_down</i></span>
                        <div id="cpy-nt">Facebook &copy; <span id="curr-year"></span></div>
                    </div>
                </div>
                <div class="td" id="m-col">
                    <div class="m-mrg" id="p-tabs">
                        <div class="tb">
                            <div class="td">
                                <div class="tb" id="p-tabs-m">
                                    <div class="td active"><i class="material-icons">av_timer</i><span>TIMELINE</span>
                                    </div>
                                    <div class="td"><i class="material-icons">people</i><span>FRIENDS</span></div>
                                    <div class="td"><i class="material-icons">NEW FEEDS</i><span><a href="{% url 'postlist'%}">POST</a></span></div>
                                    <div class="td"><i class="material-icons">explore</i><span>ABOUT</span></div>
                                    <div class="td"><i class="material-icons">archive</i><span>ARCHIVE</span></div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="m-mrg" id="composer">
                          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create Post
          </button>
  
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" enctype="multipart/form-data" action="{% url 'createpost' %}">
                    {% csrf_token %}
  
                    <ul class="list-inline" id='list_PostActions'>
                      <li class='active'><a href='#'>Update status</a></li>
                      <li>{{post_form.image}}</li>
  
                    </ul>
                    {{post_form.contain}}
  
  
                </div>
                <div class="modal-footer">
                  <ul class='list-inline post-actions'>
                    <li><a href="#"><span class="glyphicon glyphicon-camera"></span></a></li>
                    <li><a href="#" class='glyphicon glyphicon-user'></a></li>
                    <li><a href="#" class='glyphicon glyphicon-map-marker'></a></li>
                    <li class='pull-right'><button type="submit" class="btn btn-primary">Post</button>
                    </li>
                  </ul>
  
                </div>
                </form>
              </div>
            </div>
          </div>
          <hr>
          <!-- ./post form -->
  
                  
                    </div>
                    <div>
                        <div class="post">

                            {% for post in postlist %}
                            <div class="tb">
                                <a href="{% url 'profile' %}" class="td p-p-pic"><img src="{{profile.profile_pic.url }}"
                                        alt="Rajeev's profile pic"></a>
                                <div class="td p-r-hdr">
                                    <div class="p-u-info">
                                        <a href="#">{{post.user.username}}</a> 
                                    </div>
                                    
                                </div>

                            </div>
                            <a href="{% url 'detailpost' post.id %}" class="p-cnt-v">
                                <p>{{ post.contain }} | {{ post.date }}</p>
                                <img src="{{ post.image.url }}" width="100px" height="500px"
                                    style="padding-left: 100px; padding-right: 100px;">
                            </a>
                            {{post.id}}
                            <div>

                                <div class="p-acts">
                                    <form method="GET" action="{% url 'comments'}">
                                        {% csrf_token %}

                                        <input type="text" placeholder="reply comment" name="comment">
                                        <input type="hidden" name="postid" value="{{ posts.id}}">
                                        <button type="submit"> Reply</button>
                                    </form>

                                </div>
                                {% endfor %}

                            </div>

                        </div>

                        <div id="loading"><i class="material-icons">autorenew</i></div>
                    </div>
                    <div class="td" id="r-col">
                        <div id="chat-bar">
                            <div id="chat-lb"><i class="material-icons">contacts</i><span>Contacts</span></div>
                            <div id="cts">
                                <div class="on-ct active">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
                                </div>
                                <div class="on-ct active">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
                                </div>
                                <div class="on-ct">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
                                </div>
                                <div class="on-ct active">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
                                </div>
                                <div class="on-ct active">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
                                </div>
                                <div class="on-ct">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
                                </div>
                                <div class="on-ct">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
                                </div>
                                <div class="on-ct" id="ct-sett"><i class="material-icons">settings</i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="device-bar-2"><i class="fab fa-apple"></i></div>
    </main>
</body>

<script>
    var date = new Date();
    document.getElementById('curr-year').innerHTML = date.getFullYear();


</script>
<script src="{% static 'js/script.js' %}"></script>

</html>